.CommentBoxContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 5;
    background-color: black;
    opacity: 0.6;
}


.commentBox {

    display: flex;
    border-radius: 10px;
    position: fixed;
    width: 800px;
    height: 90%;
    top: 50%;
    left: 50%;
    z-index: 5;
    opacity: 1;
    background-color: #2f3136;
    transform: translate(-50%, -50%);
    animation: moveToleft 200ms forwards ease-in;



}

.commentBox .postImage {

    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.commentBox .comments {

    width: 50%;



}

.commentBox .comments #postedUserInfo {

    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgba(252, 252, 252, 0.425);
    padding: 10px 10px;
    width: 100%;
}

.commentBox .comments #postedUserInfo #profileImage {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    padding: 3px;
    background: linear-gradient(45deg, #fdf497, #fd5949, #d6249f, #285aeb);
    display: flex;
    align-items: center;
    justify-content: center;
}


#postedUserInfo #profileImage img {

    width: 100%;
    height: 100%;
    border-radius: 50%;

}


.commentBox .allComments {

    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid rgba(252, 252, 252, 0.425);
    height: 70%;
    padding: 10px;
    overflow-y: scroll;
    position: relative;
    scroll-behavior: smooth;

}

.commentBox .allComments::-webkit-scrollbar {
    width: 8px;
}

.commentBox .allComments::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
}


.commentBox .allComments #noComments {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;

}

.comments #postComment {

    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.LikeOperations {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 10px;
    font-weight: bolder;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    width: 100%;
    padding: 10px;


}

.LikeOperations #likeItems { 
    cursor: pointer;
}

.comments #postComment input {
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
}


.comments #postComment button {
    border: none;
    background-color: transparent;
    color: #1877F2;
    font-weight: bolder;
    padding: 5px;
    cursor: pointer;
}

.comments #postComment button:hover {

    color: white;
}

.comments #postComment button:disabled {
    color: #1877F2;
    cursor: default;

}



.commentBox .allComments .eachComment {

    display: flex;
    align-items: flex-start;
    gap: 10px;
    word-break: break-all;


}


.eachComment #imageIcon {

    width: 40px;
    flex: 0 0 auto;
    height: inherit;
    padding: 1px;
    align-items: center;
    justify-content: center;
}


.eachComment #usernameAndTime {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.eachComment #userComment {
    padding: 0px 10px;
    flex: 1;
    word-wrap: break-all;
}








@media (max-width : 520px) {


    .CommentBoxContainer {
        height: 100%;
    }

    .commentBox {

        display: flex;
        border-radius: 10px;
        position: absolute;
        width: 350px;
        height: 600px;
        top: 70%;
        left: 50%;
        z-index: 5;
        opacity: 1;
        background-color: rgb(0, 0, 0);
        transform: translate(-50%, -50%);
        animation: moveToleft 200ms forwards ease-in;


    }


    .commentBox .comments {
        border: 1px solid rgba(78, 78, 78, 0.986);
        border-radius: 10px;
        width: 100%;
    }


    .commentBox .postImage {

        display: none;
    }

}