.leftOptions {

  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  position: fixed;
  z-index: 4;
  border-right: 1px solid gray;
}

#options {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  gap: 10px;

  position: relative;

}





#options li {
  display: flex;

  align-items: center;
  gap: 10%;
  height: 10%;
  text-decoration: none;
  list-style-type: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  transition: background-color 200ms;
}

#options li:hover {

  background-color: rgba(128, 128, 128, 0.219);
}

#options #logoutButton {
  margin-top: 20px;
}




@media (max-width : 1250px) {

.leftOptions {
   
  display: flex;
  flex-direction: column;
  width: 50px;
  margin-right: 30px;
  left : 0px;
  height: 100vh;

  position: fixed;
  z-index: 4;
  border-right: 1px solid gray;

}


#options {
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  width: 100%;

}

#options li span {
   display: none;
}
}

@media (max-width : 764px) {



  .leftOptions {
  
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 60px;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    bottom: 0px;  
    border-top:1px solid rgb(90, 90, 90);
    height: 8%;
    z-index: 4;
    background-color: black;
  }

  #options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 0px;
    bottom: 1px;
    padding: 10px 10px;
    width: 100vw;
    height: 100%;


  }


  #options li {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 10px;
    gap: 0px;
    margin: 0px;
  }

  #options li span {
    display: none;

  }


  #options #logoutButton {
    margin-top: 0px;
  }



  #options #logo {

    display: none;
  }



  #options #logoutButton {
    display: none;
  }

}


